<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>送信完了</title>
	<meta charset="utf-8" />
	<style>
				body {
					font-family: Arial, sans-serif;
					background-color: #F8F8F8;
					margin: 0;
					padding: 0;
				}
		
				.container {
					width: 80%;
					max-width: 1500px;
					margin: 50px auto;
					padding: 20px;
					background-color: #fff;
					border-radius: 8px;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				}
		
				.toph1 {
					font-size: 1.5em;
					color: #fff;
					background-color: #4CAF50;
					padding: 20px;
					border-radius: 5px;
				}
	
			</style>
</head>

<body>
	<div class="container">
	<h1 class="toph1">完了ページ</h1>
	<p>送信が完了しました！</p>
	
	<form method="get" action="#" th:action="@{/top}">
					<input type="hidden" name="name1" th:value="*{name1}">
					<input type="submit" value="トップへ">
				</form>
				</div>

</body>

</html>