<!-- i.htmlの該当部分 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Other Issues</title>
</head>
<body>
    <h1>確認画面</h1>
    <p th:text="${message}">ここにメッセージが表示されます</p>
	
	<form method="get" action="#" th:action="@{/complete}">
				<input type="hidden" name="name1" th:value="*{name1}">
				<input type="submit" style="width: 100px; height: 30px;"value="完了画面へ">
			</form>
			<form method="get" action="#" th:action="@{/top}">
				<input type="hidden" name="name1" th:value="*{name1}">
				<input type="submit" style="width: 100px; height: 30px;" value="入力画面へ">
			</form>
</body>
</html>