<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Survey Form</title>
</head>

<body>
	<!-- フォーム -->
	<h1>ようこそ 株式会社セブン＆アイ・ネットメディアへ！</h1>


	<h2>新入社員用のヘルプページです</h2>
	<h2>気になることを選択して送信をクリック！</h2>
	<p>お気軽にどうそ！</p>
	<form id="surveyForm">
		<label>
			<input type="radio" name="choice" value="A"> 外部研修
		</label><br>
		<label>
			<input type="radio" name="choice" value="B"> 内部
		</label><br>
		<label>
			<input type="radio" name="choice" value="C"> 部署
		</label><br>
		<label>
			<input type="radio" name="choice" value="D"> パソコン
		</label><br>
		<label>
			<input type="radio" name="choice" value="E"> 打刻
		</label><br>
		<label>
			<input type="radio" name="choice" value="F"> 体調不良
		</label><br>
		<label>
			<input type="radio" name="choice" value="G"> 有給
		</label><br>
		<label>
			<input type="radio" name="choice" value="H"> 忌引き
		</label><br>
		<button type="button" onclick="submitSurvey()">送信</button>
	</form>



	<script>
		function submitSurvey() {
			// 選択されたラジオボタンの値を取得
			const form = document.getElementById('surveyForm');
			const choice = form.elements['choice'].value;

			// 遷移先のページを選択された値に基づいて決定
			let targetUrl;
			switch (choice) {
				case 'A':
					targetUrl = 'a.html';
					break;
				case 'B':
					targetUrl = 'b.html';
					break;
				case 'C':
					targetUrl = 'c.html';
					break;
				case 'D':
					targetUrl = 'd.html';
					break;
				case 'E':
					targetUrl = 'e.html';
					break;
				case 'F':
					targetUrl = 'f.html';
					break;
				case 'G':
					targetUrl = 'g.html';
					break;
				case 'F':
					targetUrl = 'f.html';
					break;
				case 'G':
					targetUrl = 'g.html';
					break;
				case 'H':
					targetUrl = 'h.html';
					break

				default:
					alert('選択肢を選んでください。');
					return;
			}


			// 選択されたページに遷移
			window.location.href = targetUrl;
		}
	</script>
</body>

</html>