<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Survey Results</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="style.css" />
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>送信回数</h1>
    <table>
        <tr>
            <th>項目</th>
            <th>回数</th>
        </tr>
        <tr th:each="entry : ${surveyResults}">
			<td th:text="'・ ' + ${entry.key}"></td>
            <td th:text="${entry.value}"></td>
        </tr>
    </table>
    <p>
        <a th:href="@{/top}">Back to Top</a>
    </p>
</body>
</html>
